mixin mixinCols(cols)
  each col in cols || []
    - var columnStyle = col.width ? 'width: ' + col.width + ';' : null;
    col(class=col.classes, style=columnStyle)

mixin mixinHeadCell(cell)
  th(class=cell.classes, colspan=cell.colspan, rowspan=cell.rowspan)
    != cell.html

mixin mixinBodyCell(cell)
  td(class=cell.classes)
    != cell.html

mixin mixinFootCell(cell)
  td(class=cell.classes, colspan=cell.colspan, rowspan=cell.rowspan)
    != cell.html

mixin mixinRow(row, group)
  tr(class=row.classes)
    each cell in row.cells || []
      case group
        when 'head'
          +mixinHeadCell(cell)
        when 'body'
          +mixinBodyCell(cell)
        when 'foot'
          +mixinFootCell(cell)

mixin mixinRows(rows, group)
  each row in rows || []
    +mixinRow(row, group)

