mixin columnHeader(column)
  if column.headerBuilder
    != column.headerBuilder(column)
  else
    if column.$orderby
      if column.$orderby.dir > 0
        span.grid-asc
      else
        span.grid-des
    if (column && column.$html)
      != column.$html
    else
      = (typeof column.$text != 'undefined')? column.$text : (column.property || column)

mixin th(column, hasGroup, isSubColumn)
  - var attr = (column.$metadata || {})['attr.head'] || {}
  - var colName = column.config && column.config.name || '';
  - var cls = [];
  if (colName)
    - cls.push('col-' + colName);
  if column.sortable
    - cls.push('sortable');
  if column.$orderby
    - cls.push('orderby');

  - cls = cls.join(' ');
  if isSubColumn 
    - var colspan = 1, rowspan = 1;
    th(class=cls, colspan=colspan, rowspan=rowspan)&attributes(attributes)&attributes(attr)
      +columnHeader(column)
  else if hasGroup && column.groupExpansion
      - var colspan = column.group.length, rowspan = 1;
      th(class=cls, colspan=colspan, rowspan=rowspan)&attributes(attributes)&attributes(attr)
        span.pop-collapse.glyphicon.glyphicon-minus
        div
          +columnHeader(column)
  else if hasGroup && column.group
    - var colspan = 1, rowspan = 2;
    th(class=cls, colspan=colspan, rowspan=rowspan)&attributes(attributes)&attributes(attr)
      span.pop-expand.glyphicon.glyphicon-plus
      div
        +columnHeader(column)
  else
    - var colspan = 1, rowspan = 2;
    th(class=cls, colspan=colspan, rowspan=rowspan)&attributes(attributes)&attributes(attr)
      +columnHeader(column)

mixin td(row, column)
  - var attr = (column.$metadata || {})['attr.body'] || {}
  - var colName = column.config && column.config.name || '';
  - var cls = colName ? 'col-' + colName : '';

  td(class=cls)&attributes(attributes)&attributes(attr)
    - var res = row[column.property]
    if (res && res.$html)
      != res.$html
    else
      = res

table.table.table-hover.grid&attributes($metadata || {})
  if !hideHeaders
    thead
      if isApplyGroup && subSelect.length === 0
        tr.table__row--header
          each columnName in locals['select'] || []
            +th(columns[columnName], true)
      else if isApplyGroup
        tr.table__row--header
          each columnName in locals['select'] || []
            +th(columns[columnName], true)
        tr.table__row--header.table__row--sub-header
          each columnName in locals['subSelect']
            +th(columns[columnName], true, true)
      else
        tr.table__row--header
          each columnName in locals['select'] || []
            +th(columns[columnName])
  tbody
    each row, i in value
      - var attr = (row.$metadata || {}).attr || {}
      tr.table__row--body&attributes(attr)
        each columnName in locals['selectExpand'] || locals.select
          +td(row, columns[columnName])
